
.description0{
    color: #999;
    margin-top: 25px;
    padding-left: 0;
    display: -webkit-box;
    /* display: block; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 13px;
    line-height: 24px;
}
