.description{

overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

}
.npagePage #banner div {
    margin-top: -15px;
    height: 460px;
    position: relative;
}
#header{
    margin-top: -15px;
    padding-top: 5px;
}

.Pageteam #teamlist .teamitem a.details {
    left: 750px;
}
.Pageteam #teamlist .teamitem .teaminfo {
    width: 630px;
    margin-right: 175px;
    padding-top: 40px;
}